html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%;
  overflow: hidden; }

body {
  background-color: #2e1414;
  font-family: "Helvetica Neue";
  color: #d19494;
  height: 100%;
  line-height: 150%;
  overflow: hidden; }

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
  color: #d19494;
  font-weight: bold; }

h1 {
  font-size: 32px;
  margin-top: 0; }

h2 {
  font-size: 24px; }

p {
  margin: 1em 0; }

p, ul, ol, blockquote, pre {
  line-height: 150%;
  letter-spacing: 0.1px; }

ul, ol {
  margin: 0; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

a {
  color: #d92626;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.page-wrapper {
  position: relative;
  padding: 50px;
  width: 930px;
  margin: 50px auto 0 auto; }

svg {
  display: block;
  background: none; }

#pie {
  fill: #271111; }

#sleep-slice {
  fill: #6b2e2e;
  transition: fill 0.3s ease; }

#sleep-slice:hover {
  fill: #d19494; }

#work-slice {
  fill: #b34d4d;
  transition: fill 0.3s ease; }

#work-slice:hover {
  fill: #d19494; }

.number-label {
  fill: rgba(255, 153, 153, 0.5);
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 13px; }

.crosshairs {
  stroke: rgba(255, 153, 153, 0.3);
  pointer-events: none; }

#hour-hand,
#hour-hand-opposite {
  stroke: #e6b3b3;
  stroke-width: 2;
  pointer-events: none; }

#second-hand,
#second-hand-opposite {
  stroke: #e6b3b3;
  pointer-events: none; }

#second-hand-circle {
  fill: #e6b3b3;
  pointer-events: none; }

.tooltip {
  position: absolute;
  float: left;
  min-width: 80px;
  top: 300px;
  left: 70px;
  padding: 7px 9px;
  z-index: 5;
  display: none;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
  text-align: left;
  white-space: nowrap; }

.tooltip-label {
  display: block;
  font: 200 10px "Helvetica Neue";
  color: #aaa;
  text-transform: uppercase;
  letter-spacing: 1px; }

.tooltip-data {
  font: 100 35px "Helvetica Neue";
  color: #eee; }

.tooltip-hrs {
  font: 200 10px "Helvetica Neue";
  color: #aaa;
  letter-spacing: 1px; }

#mini-clock-container {
  position: absolute;
  top: 418px;
  right: 0; }

#mini-clock-face {
  fill: #271111;
  transition: fill 0.3s ease; }
  #mini-clock-face:hover {
    fill: #6b2e2e; }

#mini-clock-slice {
  fill: #8f3d3d;
  transition: fill 0.3s ease; }
  #mini-clock-slice:hover {
    fill: #c27070; }

#mini-clock-busy {
  margin: -130px auto 0 auto;
  width: 100px;
  text-align: center;
  font: 200 13px "Helvetica Neue";
  color: #c27070; }

#center-container {
  width: 550px;
  height: 550px;
  display: block;
  position: relative;
  top: 0;
  margin: -25px auto 0 auto; }

#main-clock-container {
  position: relative;
  text-align: center;
  width: 500px;
  height: 500px;
  margin: 0 auto 20px auto; }

#timer-container {
  display: block;
  width: 300px;
  position: absolute;
  top: 560px;
  left: 50%;
  margin: 0 auto 0 -150px;
  font: 200 10px "Helvetica Neue";
  text-align: center; }

#timer-display {
  border: 1px solid rgba(255, 102, 102, 0.2);
  border-radius: 20px;
  font: 100 60px "Helvetica Neue";
  color: rgba(240, 168, 168, 0.9);
  width: 280px;
  display: block;
  line-height: 100%;
  margin: 0 auto;
  padding: 10px 0 12px 0;
  text-rendering: optimizeLegibility;
  transition: all 1s ease-in-out; }

label[for="timer-display"] {
  color: rgba(240, 168, 168, 0.4);
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font: 200 10px "Helvetica Neue";
  margin-bottom: 10px; }

#free-time-container {
  display: block;
  position: absolute;
  right: 0;
  top: 140px;
  margin: 15px auto 0 auto;
  text-transform: uppercase;
  width: 150px;
  padding: 19px 0;
  text-align: center;
  border: 1px solid rgba(255, 102, 102, 0.2);
  border-radius: 20px; }

label[for="free-time"] {
  font: 200 10px "Helvetica Neue";
  color: rgba(240, 168, 168, 0.4);
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2px; }

#free-time {
  font: 100 60px "Helvetica Neue"; }

#time-inputs-container {
  position: absolute;
  width: 150px;
  left: 0;
  top: 0;
  text-align: center;
  padding: 25px 0 15px 0;
  border: 1px solid rgba(255, 102, 102, 0.2);
  border-radius: 20px; }

#bedtime,
#waketime,
#go-to-work,
#come-home,
label[for="bedtime"],
label[for="waketime"],
label[for="go-to-work"],
label[for="come-home"] {
  display: block;
  margin: 0 auto; }

label[for="bedtime"],
label[for="waketime"],
label[for="go-to-work"],
label[for="come-home"] {
  text-transform: uppercase;
  font: 200 10px "Helvetica Neue";
  color: rgba(240, 168, 168, 0.4);
  letter-spacing: 1px; }

#bedtime,
#waketime,
#go-to-work,
#come-home {
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font: 300 20px "Helvetica Neue";
  width: 80px;
  height: 60px;
  text-align: center;
  color: rgba(240, 168, 168, 0.6);
  letter-spacing: 0.5px;
  margin-top: 5px;
  margin-bottom: 20px;
  transition: background-color 0.5s, border 0.5s, box-shadow 0.5s, color 0.5s; }
  #bedtime:focus,
  #waketime:focus,
  #go-to-work:focus,
  #come-home:focus {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(250, 158, 158, 0.7);
    box-shadow: 0 0 5px 3px rgba(247, 110, 110, 0.5);
    color: rgba(240, 168, 168, 0.9); }
  #bedtime::selection,
  #waketime::selection,
  #go-to-work::selection,
  #come-home::selection {
    background: rgba(194, 112, 112, 0.5); }

#date-container {
  position: absolute;
  top: 0px;
  right: 0;
  width: 150px;
  text-align: center;
  padding: 23px 0;
  border: 1px solid rgba(255, 102, 102, 0.2);
  border-radius: 20px; }

#day-name {
  font: 200 10px "Helvetica Neue";
  color: rgba(240, 168, 168, 0.4);
  display: block;
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 1px; }

#day-number {
  display: block;
  font: 100 60px "Helvetica Neue";
  text-align: center;
  line-height: 100%; }

#month-name {
  font: 200 10px "Helvetica Neue";
  color: rgba(240, 168, 168, 0.4);
  display: block;
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 1px; }

/* Animations */
@keyframes turn_clockwise {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes turn_clockwise {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes turn_counter_clockwise {
  0% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(0deg); } }
@-webkit-keyframes turn_counter_clockwise {
  0% {
    -webkit-transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(0deg); } }
#ring {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  display: inline-block;
  border: 3px solid rgba(255, 153, 153, 0.1);
  text-align: center;
  border-top-color: rgba(255, 153, 153, 0.7);
  width: 530px;
  height: 530px;
  margin: 0 auto;
  left: 50%;
  margin-left: -265px;
  top: -15px;
  border-radius: 100%;
  animation: turn_clockwise 60s linear infinite;
  -webkit-animation: turn_clockwise 60s linear infinite; }

#ring-2 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  display: inline-block;
  border: 2px dotted rgba(255, 153, 153, 0.1);
  text-align: center;
  border-top-color: rgba(255, 153, 153, 0.4);
  width: 550px;
  height: 550px;
  margin: 0 auto;
  left: 50%;
  margin-left: -275px;
  top: -25px;
  border-radius: 100%;
  animation: turn_counter_clockwise 30s linear infinite;
  -webkit-animation: turn_counter_clockwise 30s linear infinite; }

/*# sourceMappingURL=global.css.map */
